<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"      
 "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">

<mapper namespace="cn.tedu.store.mapper.AddressMapper">
	
	<!-- 插入收货地址数据 -->
	<!-- Integer insert(Address address) -->
	<insert id="insert"
		useGeneratedKeys="true"
		keyProperty="aid">
		INSERT INTO t_address (
			uid, name,
			province_code, province_name,
			city_code, city_name,
			area_code, area_name,
			zip, address,
			phone, tel,
			tag, is_default,
			created_user, created_time,
			modified_user, modified_time
		) VALUES (
			#{uid}, #{name},
			#{provinceCode}, #{provinceName},
			#{cityCode}, #{cityName},
			#{areaCode}, #{areaName},
			#{zip}, #{address},
			#{phone}, #{tel},
			#{tag}, #{isDefault},
			#{createdUser}, #{createdTime},
			#{modifiedUser}, #{modifiedTime}
		)
	</insert>
	
	<!-- 根据收货地址id删除数据 -->
	<!-- Integer deleteByAid(Integer aid) -->
	<delete id="deleteByAid">
		DELETE FROM 
			t_address
		WHERE
			aid=#{aid}
	</delete>
	
	<!-- 将某用户的所有收货地址设置为非默认 -->
	<!-- Integer updateNonDefault(Integer uid) -->
	<update id="updateNonDefault">
		UPDATE 
			t_address
		SET 
			is_default=0
		WHERE 
			uid=#{uid}
	</update>
	
	<!-- 将指定的收货地址设置为默认 -->
	<!-- Integer updateDefault(
	    @Param("aid") Integer aid, 
	    @Param("modifiedUser") String modifiedUser, 
	    @Param("modifiedTime") Date modifiedTime) -->
	<update id="updateDefault">
		UPDATE 
			t_address
		SET 
			is_default=1,
			modified_user=#{modifiedUser},
			modified_time=#{modifiedTime}
		WHERE 
			aid=#{aid}
	</update>
	
	<!-- 统计某个用户的收货地址数据的数量 -->
	<!-- Integer countByUid(Integer uid) -->
	<select id="countByUid"
		resultType="java.lang.Integer">
		SELECT 
			COUNT(*) 
		FROM 
			t_address 
		WHERE 
			uid=#{uid}
	</select>
	
	<!-- 根据用户id查询该用户的收货地址列表 -->
	<!-- List<Address> findByUid(Integer uid) -->
	<select id="findByUid"
		resultType="cn.tedu.store.entity.Address">
		SELECT
			aid, name,
			province_name AS provinceName,
			city_name AS cityName,
			area_name AS areaName,
			address, phone,
			is_default AS isDefault,
			tag
		FROM 
			t_address
		WHERE 
			uid=#{uid}
		ORDER BY
			is_default DESC,
			modified_time DESC
	</select>
	
	<!-- 根据收货地址的数据id查询详情 -->
	<!-- Address findByAid(Integer aid) -->
	<select id="findByAid"
		resultType="cn.tedu.store.entity.Address">
		SELECT
			uid, is_default AS isDefault,
			name, phone,
			province_name AS provinceName,
			city_name AS cityName,
			area_name AS areaName,
			address
		FROM 
			t_address
		WHERE 
			aid=#{aid}
	</select>
	
	<!-- 查询某用户最后一次修改的收货地址数据 -->
	<!-- Address findLastModified(Integer uid) -->
	<select id="findLastModified"
		resultType="cn.tedu.store.entity.Address">
		SELECT
			aid
		FROM 
			t_address
		WHERE 
			uid=#{uid}
		ORDER BY
			modified_time DESC
		LIMIT 0,1
	</select>
	
</mapper>










