<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"      
 "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">

<mapper namespace="cn.tedu.store.mapper.UserMapper">
	
	<!-- 插入用户数据 -->
	<!-- Integer insert(User user) -->
	<insert id="insert"
		useGeneratedKeys="true"
		keyProperty="uid">
		INSERT INTO t_user (
			username, password,
			salt, gender,
			phone, email,
			avatar, is_delete,
			created_user, created_time,
			modified_user, modified_time
		) VALUES (
			#{username}, #{password},
			#{salt}, #{gender},
			#{phone}, #{email},
			#{avatar}, #{isDelete},
			#{createdUser}, #{createdTime},
			#{modifiedUser}, #{modifiedTime}
		)
	</insert>
	
	<!-- 更新用户基本资料 -->
	<!-- Integer updateInfo(User user) -->
	<update id="updateInfo">
		UPDATE 
			t_user 
		SET 
			<if test="phone != null">
			phone=#{phone}, 
			</if>
			<if test="email != null">
			email=#{email}, 
			</if>
			<if test="gender != null">
			gender=#{gender}, 
			</if>
			modified_user=#{modifiedUser}, 
			modified_time=#{modifiedTime} 
		WHERE 
			uid=#{uid}
	</update>
	
	<!-- 更新密码 -->
	<!-- Integer updatePassword(
			@Param("uid") Integer uid, 
			@Param("password") String password,
			@Param("modifiedUser") String modifiedUser,
			@Param("modifiedTime") Date modifiedTime) -->
	<update id="updatePassword">
		UPDATE 
			t_user 
		SET 
			password=#{password}, 
			modified_user=#{modifiedUser}, 
			modified_time=#{modifiedTime} 
		WHERE 
			uid=#{uid}
	</update>
	
	<!-- 更新用户的头像 -->
	<!-- Integer updateAvatar(
			@Param("uid") Integer uid, 
			@Param("avatar") String avatar,
			@Param("modifiedUser") String modifiedUser,
			@Param("modifiedTime") Date modifiedTime); -->
	<update id="updateAvatar">
		UPDATE 
			t_user 
		SET 
			avatar=#{avatar}, 
			modified_user=#{modifiedUser}, 
			modified_time=#{modifiedTime} 
		WHERE 
			uid=#{uid}
	</update>
	
	<!-- 根据用户名查询用户数据 -->
	<!-- User findByUid(Integer uid) -->
	<select id="findByUid"
		resultType="cn.tedu.store.entity.User">
		SELECT 
			username, phone,
			email, gender,
			password, salt,
			is_delete AS isDelete
		FROM 
			t_user 
		WHERE 
			uid=#{uid}
	</select>
	
	<!-- 根据用户名查询用户数据 -->
	<!-- User findByUsername(String username) -->
	<select id="findByUsername"
		resultType="cn.tedu.store.entity.User">
		SELECT 
			uid, username,
			password, salt,
			avatar,
			is_delete AS isDelete
		FROM 
			t_user 
		WHERE 
			username=#{username}
	</select>
	
</mapper>










